<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SearchEngine</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>Crawler</display-name>
    <servlet-name>Crawler</servlet-name>
    <servlet-class>com.akhil.search.Crawler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Crawler</servlet-name>
    <url-pattern>/Crawler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KeySearch</display-name>
    <servlet-name>KeySearch</servlet-name>
    <servlet-class>com.akhil.search.KeySearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KeySearch</servlet-name>
    <url-pattern>/KeySearch</url-pattern>
  </servlet-mapping>
</web-app>